# Database Connection
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/roisin?schema=public"

# App
PORT=3001
NODE_ENV=development

# Auth (JWT)
JWT_SECRET="super-secret-key-change-in-production"
JWT_EXPIRATION="7d"

# Store Settings
STORE_CURRENCY="USD"
STORE_TIMEZONE="America/Guayaquil"
